# OS junk
.DS_Store
Thumbs.db
Desktop.ini

# IDE/editor
.vscode/
.idea/
*.iml

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
*.pyc
.env
venv/
env/
ENV/
static-analysis/
*.egg-info/
dist/
build/

# Data and temp files
temp_repos/
data/
figures/